In [62]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('vine_table.csv')

In [27]:
filtered1_df = df[df.total_votes >= 20]
filtered1_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [33]:
filtered2_df = filtered1_df[(filtered1_df.helpful_votes / filtered1_df.total_votes) >= 0.5]
filtered2_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [36]:
y_df = filtered2_df[filtered2_df.vine == 'Y']
y_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

In [51]:
# Total Number of Reviews
y_tot = y_df.shape[0]
y_tot

94

In [52]:
# Total Number of 5-Star Reviews
y_5 = len(y_df[y_df.star_rating == 5].index)
y_5

48

In [54]:
# Percentage of 5-Star Reviews
y_per = round((y_5 / y_tot)*100,2)
y_per

51.06

In [55]:
n_df = filtered2_df[filtered2_df.vine == 'N']
n_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [57]:
# Total Number of Reviews
n_tot = len(n_df.index)
n_tot

40471

In [59]:
# Total Number of 5-Star Reviews
n_5 = len(n_df[n_df.star_rating == 5].index)
n_5

15663

In [61]:
# Percentage of 5-Star Reviews
n_per = round((n_5/n_tot)*100,2)
n_per

38.7

In [66]:
# Further Analysis --> Average Star Rating
y_avg = round(np.mean(y_df.star_rating),1)
n_avg = round(np.mean(n_df.star_rating),1)

In [67]:
print(y_avg,n_avg)

4.2 3.3